[Unit]
Description=Gaia service
After=network-online.target

[Service]
User=root
ExecStart=/root/.gvm/pkgsets/go1.20/global/bin/gaiad start --x-crisis-skip-assert-invariants --home /root/.gaia
Restart=no
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target